.container {
  width: 80%;
  margin: auto;
  background-color: bisque;
}

body {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  color: darkblue;
}

.wrapper {
  background-color: aqua;
  width: 70%;
  margin: auto;
}

img {
  width: 70px;
  height: 70px;
}

#heading {
  margin-bottom: 3em;
  font-size: 1em;
  text-align: center;
}

#heading #left {
  float: left;
  margin-left: 2em;
}

#heading #right {
  float: right;
  margin-right: 1em;
}

#you {
  float: left;
  margin-left: 4em;
  width: 40%;
  text-align: center;
  border: solid black 2px;
}

#opponent {
  float: right;
  margin-right: 4em;
  width: 40%;
  text-align: center;
  border: solid black 2px;
}

#whiteboxleft {
  float: left;
  margin-left: 1em;
  width: 45%;
  height: 10em;
  background-color: white;
  text-align: center;
  margin-bottom: 0.5em;
}

#whiteboxright {
  float: right;
  margin-right: 1em;
  width: 45%;
  height: 10em;
  background-color: white;
  text-align: center;
  margin-bottom: 0.5em;
}

#buttonnewgame {
  font-size: 1.5em;
  margin-left: 17em;
  margin-top: 1em;
  background-color: aqua;
}

#buttonrolldice {
  font-size: 1.5em;
  margin-left: 5em;
  margin-top: 1em;
  background-color: aqua;
}

#pop-up {
  width: 300px;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: solid 1px black;
  box-shadow: 0px 0px 5px yellow, 5px 5px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

hr {
  background-color: black;
}

#hidestartbtn {
  float: right;
  margin-right: 4em;
  margin-top: 1em;
  font-size: 1em;
}

#hiderulesbtn {
  float: right;
  margin-right: 4em;
  margin-top: 1em;
  font-size: 1em;
}

#start {
  margin-left: 4em;
}

#rules {
  margin-left: 4em;
}



